.row{
    background-color: #16171a;
      cursor:pointer;
      /* &:hover: {
        background-color:  #131111
      }, */
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}